<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BusinessMapper">
	
	<select id="NowDateKey" resultType="String">
		SELECT DATE_FORMAT(NOW(6), '%Y%m%d%H%i%s%f')
	</select>
	
	<select id="BusinessTeleAccountList" parameterType="map" resultType="hashmap">
		SELECT T.idx,
			   T.account_name,
			   T.sales_root,
			   T.manager,
			   T.region,
			   T.now_consignor,
			   T.end_dt,
			   T.contract_type,
			   T2.act_type,
			   T2.act_idx,
			   DATE_FORMAT(T2.act_dt, '%Y-%m-%d') as act_dt,
			   T2.memo
		FROM tb_tele_sales_account_info T
		LEFT JOIN tb_tele_sales_activities T2
		ON T2.idx = T.idx
		AND DATE_FORMAT(T2.act_dt, '%Y') = #{year}
	</select>
	
	<select id="AccountBusinessImgList" parameterType="map" resultType="hashmap">
		SELECT business_report,
		       business_regist,
		       kitchen_drawing
		FROM tb_account_info
		WHERE account_id = #{account_id}
	</select>
	
	<insert id="insertOrUpdateFile" parameterType="map">
		INSERT INTO tb_account_info
			( account_id, business_report, business_regist, kitchen_drawing )
			VALUES
			( #{account_id}, #{business_report}, #{business_regist}, #{kitchen_drawing} )
			ON DUPLICATE KEY UPDATE
			business_report = #{business_report},
			business_regist = #{business_regist},
			kitchen_drawing = #{kitchen_drawing}
	</insert>
	
	<insert id="BusinessTeleInfoSave" parameterType="map">
		INSERT INTO tb_tele_sales_account_info(idx,account_name,sales_root,manager,region,now_consignor,end_dt,contract_type)
		VALUES
		(#{idx},#{account_name},#{sales_root},#{manager},#{region},#{now_consignor},#{end_dt},#{contract_type})
		ON DUPLICATE KEY UPDATE
		<trim suffixOverrides=",">
			<if test="account_name != null">
				account_name = #{account_name},
			</if>
			<if test="sales_root != null">
				sales_root = #{sales_root},
			</if>
			<if test="manager != null">
				manager = #{manager},
			</if>
			<if test="region != null">
				region = #{region},
			</if>
			<if test="now_consignor != null">
				now_consignor = #{now_consignor},
			</if>
			<if test="end_dt != null">
				end_dt = #{end_dt},
			</if>
			<if test="contract_type != null">
				contract_type = #{contract_type},
			</if>
		</trim>
	</insert>
	
	<insert id="BusinessDailySave" parameterType="map">
		INSERT INTO tb_tele_sales_activities(act_idx,idx,act_type,act_dt,memo)
		VALUES
		(null,#{idx},#{act_type},DATE_FORMAT(#{act_dt}, '%Y-%m-%d'),#{memo})
		ON DUPLICATE KEY UPDATE
		act_type = ${act_type},
		memo = #{memo}
	</insert>
	
	<insert id="BusinessContractSuccessSave" parameterType="map">
		INSERT INTO tb_account(account_id,account_name, account_type, meal_type)
		VALUES
		(#{account_id},#{account_name},1,3)
	</insert>
	
	<insert id="BusinessContractSuccessSave_2" parameterType="map">
		<if test='manager_name != null'>
			INSERT INTO tb_account(account_id,manager_name)
			VALUES
			(#{account_id},#{manager_name})
 		</if>
		<if test='manager_name == null'>
			INSERT INTO tb_account(account_id)
			VALUES
			(#{account_id})
 		</if>
	</insert>
	
	<select id="CarList" parameterType="map" resultType="map">
		SELECT car_number,
			   car_name,
			   CONCAT(car_name, ' ', car_number) as full_name,
			   DATE_FORMAT(service_dt, '%Y-%m-%d') as service_dt,
			   service_note,
			   service_amt,
			   mileage,
			   comment,
			   exterior_note
		FROM tb_thefull_car_management
		<if test="car_number != null">
		WHERE car_number = #{car_number}
		</if>
	</select>
	
	<select id="CarFileList" parameterType="map" resultType="map">
		SELECt image_id,
			   car_number,
			   exterior_image,
		       image_name,
		       DATE_FORMAT(service_dt, '%Y-%m-%d') as service_dt
		FROM tb_thefull_car_image_management
		WHERE car_number = #{car_number}
		AND service_dt = DATE_FORMAT(#{service_dt}, '%Y-%m-%d')
	</select>
	
	<select id="CarSelectList" parameterType="map" resultType="map">
		SELECT car_number,
			   CONCAT(car_name, ' ', car_number) as full_name
		FROM tb_thefull_car_list
		GROUP BY car_number, car_name
	</select>
	
	<insert id="CarNewSave" parameterType="map">
		INSERT INTO tb_thefull_car_list(car_number,reg_dt,car_name)
		VALUES
		(#{car_number},DATE_FORMAT(now(), '%Y-%m-%d'),#{car_name})
		ON DUPLICATE KEY UPDATE
		car_name = VALUES(car_name)
	</insert>
	
	<insert id="CarSave" parameterType="map">
		INSERT INTO tb_thefull_car_management(car_number,service_dt,car_name,service_note,service_amt,mileage,comment,exterior_note,user_id,update_dt)
		VALUES
		(#{car_number},DATE_FORMAT(#{service_dt}, '%Y-%m-%d'),#{car_name},#{service_note},#{service_amt},#{mileage},#{comment},#{exterior_note},#{user_id},DATE_FORMAT(NOW(), '%Y-%m-%d'))
		ON DUPLICATE KEY UPDATE
		car_number = VALUES(car_number),
		service_dt = VALUES(service_dt),
		car_name = VALUES(car_name),
		service_note = VALUES(service_note),
		service_amt = VALUES(service_amt),
		mileage = VALUES(mileage),
		comment = VALUES(comment),
		exterior_note = VALUES(exterior_note),
		user_id = #{user_id},
		update_dt = DATE_FORMAT(NOW(), '%Y-%m-%d')
	</insert>
	
	<insert id="CarFileDelete" parameterType="map">
		DELETE FROM tb_thefull_car_image_management 
		WHERE image_id = #{image_id}
		AND car_number = #{car_number}
		AND service_dt = DATE_FORMAT(#{service_dt}, '%Y-%m-%d')
	</insert>
	
	<insert id="SaveCarFile" parameterType="map">
	    INSERT INTO tb_thefull_car_image_management 
	    (car_number, service_dt, exterior_image, image_name)
	    VALUES (
	    	#{car_number},
	        DATE_FORMAT(#{service_dt}, '%Y-%m-%d'),
	        #{exterior_image},
	        #{image_name}
	    )
	</insert>
	
	<select id="CookWearList" parameterType="map" resultType="map">
		SELECT type,
			   type_name,
			  ifnull(current_qty, 0) as current_qty,
		      ifnull(new_qty, 0) as new_qty,
		      ifnull(out_qty, 0) as out_qty,
		      ifnull(remain_qty, 0) as remain_qty,
		      ifnull(before_qty, 0) as before_qty
		FROM tb_account_cook_wear_inventory
	</select>
	
	<select id="CookWearOutList" parameterType="map" resultType="map">
		SELECT acoh.type,
			  acwi.type_name,
			  acoh.account_id,
			  DATE_FORMAT(acoh.out_dt, '%Y-%m-%d') as out_dt,
		      ifnull(acoh.out_qty, 0) as out_qty,
		      note
		FROM tb_account_cook_wear_out_history acoh
		JOIN tb_account_cook_wear_inventory acwi
		ON acwi.type = acoh.type
		ORDER BY acoh.type, acoh.out_dt
	</select>
	
	<select id="CookWearNewList" parameterType="map" resultType="map">
		SELECT acwnh.type,
			   acwi.type_name,
			  acwnh.account_id,
			  DATE_FORMAT(acwnh.new_dt, '%Y-%m-%d') as new_dt,
		      ifnull(acwnh.new_qty, 0) as new_qty,
		      note
		FROM tb_account_cook_wear_new_history acwnh
		JOIN tb_account_cook_wear_inventory acwi
		ON acwi.type = acwnh.type
		ORDER BY acwnh.type, acwnh.new_dt
	</select>
	
	<!-- 현재고는 이전 재고로, 남은 재고는 현재고로 저장되어야 전에 몇개가 재고였는지 확인 할 수 있음 -->
	<insert id="CookWearSave" parameterType="map">
		INSERT INTO tb_account_cook_wear_inventory(type,type_name,before_qty,current_qty,remain_qty)
		VALUES
		(#{type},#{type_name},#{orign_qty},#{remain_qty},#{remain_qty})
		ON DUPLICATE KEY UPDATE
		type = VALUES(type),
		type_name = VALUES(type_name),
		before_qty = #{orign_qty},
		current_qty = VALUES(remain_qty),
		remain_qty = VALUES(remain_qty)
	</insert>
	
	<insert id="CookWearSaveV2" parameterType="map">
		INSERT INTO tb_account_cook_wear_inventory(type,type_name,current_qty,remain_qty)
		VALUES
		(#{type},#{type_name},#{current_qty},#{current_qty})
	</insert>
	
	<insert id="CookWearOutSave" parameterType="map">
		INSERT INTO tb_account_cook_wear_out_history(type,account_id,out_dt,out_qty)
		VALUES
		(#{type},#{account_id},DATE_FORMAT(#{out_dt}, '%Y-%m-%d'),#{out_qty})
		ON DUPLICATE KEY UPDATE
		type = VALUES(type),
		account_id = VALUES(account_id),
		out_dt = VALUES(out_dt),
		out_qty = VALUES(out_qty)
	</insert>
	
	<insert id="CookWearNewSave" parameterType="map">
		INSERT INTO tb_account_cook_wear_new_history(type,account_id,new_dt,new_qty)
		VALUES
		(#{type},#{account_id},DATE_FORMAT(#{new_dt}, '%Y-%m-%d'),#{new_qty})
		ON DUPLICATE KEY UPDATE
		type = VALUES(type),
		account_id = VALUES(account_id),
		new_dt = VALUES(new_dt),
		new_qty = VALUES(new_qty)
	</insert>
	
	<select id="AccountEventList" parameterType="map" resultType="map">
		SELECt account_id,
			   event_id,
		       event_name,
		       DATE_FORMAT(event_dt, '%Y-%m-%d') as event_dt
		FROM tb_account_event_management
		WHERE account_id = #{account_id}
	</select>
	
	<select id="EventFileList" parameterType="int" resultType="map">
		SELECt event_id,
			   image_path,
		       image_order,
		       image_name
		FROM tb_account_event_file_management
		WHERE event_id = #{event_id}
	</select>
	
	<insert id="AccountEventFileDelete" parameterType="map">
		DELETE FROM tb_account_event_file_management 
		WHERE event_id = #{event_id}
		AND image_order = #{image_order}
	</insert>
	
	<insert id="EventSave" parameterType="map" useGeneratedKeys="true" keyProperty="event_id">
	    INSERT INTO tb_account_event_management (
	        account_id, event_name, event_dt, update_dt, user_id
	    )
	    VALUES (
	        #{account_id},
	        #{event_name},
	        DATE_FORMAT(#{event_dt}, '%Y-%m-%d'),
	        DATE_FORMAT(NOW(), '%Y-%m-%d'),
	        #{user_id}
	    )
	</insert>
	
	<update id="EventUpdate" parameterType="map">
	    UPDATE tb_account_event_management
	    SET event_name = #{event_name},
	        event_dt = #{event_dt},
	        update_dt = NOW(),
	        user_id = #{user_id}
	    WHERE event_id = #{event_id}
	      AND account_id = #{account_id}
	</update>
	
	<select id="GetMaxImageOrder" parameterType="int" resultType="int">
	    SELECT MAX(image_order)
	    FROM tb_account_event_file_management
	    WHERE event_id = #{event_id}
	</select>
	
	<insert id="SaveEventFile" parameterType="map">
	    INSERT INTO tb_account_event_file_management (
	        event_id, image_order, image_path, image_name
	    )
	    VALUES (
	        #{event_id},
	        #{image_order},
	        #{image_path},
	        #{image_name}
	    )
	</insert>
	
	<select id="AccountEctDietList" parameterType="map" resultType="map">
	    SELECT extra_diet1_name,
	    	   extra_diet1_price,
	    	   extra_diet2_name,
	    	   extra_diet2_price,
	    	   extra_diet3_name,
	    	   extra_diet3_price,
	    	   extra_diet4_name,
	    	   extra_diet4_price,
	    	   extra_diet5_name,
	    	   extra_diet5_price
	    FROM tb_account_info
	    WHERE account_id = #{account_id}
	</select>
	
	<insert id="AccountEctDietSave" parameterType="map">
		INSERT INTO tb_account_info(account_id,extra_diet1_name,extra_diet1_price,extra_diet2_name,extra_diet2_price,extra_diet3_name,extra_diet3_price,extra_diet4_name,extra_diet4_price,extra_diet5_name,extra_diet5_price)
		VALUES
		(#{account_id},#{extra_diet1_name},#{extra_diet1_price},#{extra_diet2_name},#{extra_diet2_price},#{extra_diet3_name},#{extra_diet3_price},#{extra_diet4_name},#{extra_diet4_price},#{extra_diet5_name},#{extra_diet5_price})
		ON DUPLICATE KEY UPDATE
		extra_diet1_name = VALUES(extra_diet1_name),
		extra_diet1_price = VALUES(extra_diet1_price),
		extra_diet2_name = VALUES(extra_diet2_name),
		extra_diet2_price = VALUES(extra_diet2_price),
		extra_diet3_name = VALUES(extra_diet3_name),
		extra_diet3_price = VALUES(extra_diet3_price),
		extra_diet4_name = VALUES(extra_diet4_name),
		extra_diet4_price = VALUES(extra_diet4_price),
		extra_diet5_name = VALUES(extra_diet5_name),
		extra_diet5_price = VALUES(extra_diet5_price)
	</insert>
	
	<update id="DinerNumberUpdate" parameterType="map">
	    UPDATE tb_account_diners_number
	    SET extra_diet1_name = #{extra_diet1_name},
			extra_diet2_name = #{extra_diet2_name},
			extra_diet3_name = #{extra_diet3_name},
			extra_diet4_name = #{extra_diet4_name},
			extra_diet5_name = #{extra_diet5_name}
	    WHERE account_id = #{account_id}
	</update>
	
	<select id="BusinessMemberList" resultType="hashmap">
		SELECT *
		FROM tb_user
		WHERE department = 4
		AND del_yn = 'N'
		ORDER BY position ASC
	</select>
	
	<select id="BusinessScheduleList" parameterType="map" resultType="hashmap">
    	SELECT bc.idx,
    		   DATE_FORMAT(bc.start_date, '%Y-%m-%d') as start_date,
    		   DATE_FORMAT(bc.end_date, '%Y-%m-%d') as end_date,
    		   bc.content,
    		   bc.type,
    		   bc.del_yn,
    		   bc.update_dt,
    		   bc.reg_dt,
    		   bc.user_id,
    		   bc.reg_user_id,
    		   u.user_name
			FROM tb_business_calendar bc
			JOIN tb_user u
			ON u.user_id = bc.user_id 
			WHERE DATE_FORMAT(start_date, '%Y-%m') = CONCAT(#{year},'-',#{month})
			AND DATE_FORMAT(end_date, '%Y-%m') = CONCAT(#{year},'-',#{month})
    </select>
    
    <select id="BusinessScheduleTodayList" parameterType="map" resultType="hashmap">
    	SELECT bc.idx,
    		   DATE_FORMAT(bc.start_date, '%Y-%m-%d') as start_date,
    		   DATE_FORMAT(bc.end_date, '%Y-%m-%d') as end_date,
    		   bc.content,
    		   bc.type,
    		   bc.del_yn,
    		   bc.update_dt,
    		   bc.reg_dt,
    		   bc.user_id,
    		   bc.reg_user_id,
    		   u.user_name,
    		   CASE WHEN u.position = 0 THEN 'CEO'
			        WHEN u.position = 1 THEN '팀장'
			        WHEN u.position = 2 THEN '파트장'
			        ELSE '매니저'
			    END AS position_name,
			  u.department
			FROM tb_business_calendar bc
			JOIN tb_user u
			ON u.user_id = bc.user_id 
			WHERE DATE_FORMAT(start_date, '%Y-%m-%d') = #{today}
    </select>
	
	<insert id="BusinessScheduleSave">
        INSERT INTO tb_business_calendar
    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        idx,
	        start_date,
	        end_date,
	        content,
	        type,
	        update_dt,
	        reg_dt,
	        del_yn,
	        user_id,
	        reg_user_id
	    </trim>
	    
	    VALUES
	    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	#{idx},
	    	DATE_FORMAT(#{start_date}, '%Y-%m-%d'),
	        DATE_FORMAT(#{end_date}, '%Y-%m-%d'),
	        #{content},
	        #{type},
	        DATE_FORMAT(now(), '%Y-%m-%d'),
	        DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        #{del_yn},
	        #{user_id},
	        #{reg_user_id}
	    </trim>
	    
	    ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	    	idx=#{idx},
	        start_date=DATE_FORMAT(#{start_date}, '%Y-%m-%d'),
	        end_date=DATE_FORMAT(#{end_date}, '%Y-%m-%d'),
	        content=#{content},
	        type=#{type},
	        update_dt=DATE_FORMAT(now(), '%Y-%m-%d'),
	        reg_dt=DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        del_yn=#{del_yn},
	        user_id=#{user_id},
	        reg_user_id=#{reg_user_id}
	    </trim>
    </insert>
</mapper>