<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<select id="Login" parameterType="map" resultType="map">
		call tb_user_login(#{userId}, #{password})
	</select>

	<insert id="UserRgt" parameterType="map">
        INSERT INTO tb_user
        (user_id, user_name, password, user_type, reg_dt, join_dt, account_id, position, department)
        VALUES
        (#{user_id}, #{user_name}, #{password}, #{user_type}, DATE_FORMAT(NOW(), '%Y-%m-%d'), DATE_FORMAT(#{join_dt}, '%Y-%m-%d'), #{account_id}, #{position}, #{department})
    	ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	        user_id=#{user_id},
	        user_name=#{user_name},
	        password=#{password},
	        user_type=#{user_type},
	        reg_dt=DATE_FORMAT(NOW(), '%Y-%m-%d'),
	        join_dt=DATE_FORMAT(#{join_dt}, '%Y-%m-%d'),
	        account_id=#{account_id},
	        position=#{position},
	        department=#{department}
	    </trim>
    </insert>
    
    <insert id="UserRgtDetail" parameterType="map">
        INSERT INTO tb_userdetail
        (user_id, address, address_detail, zipcode, birth_date, phone)
        VALUES
        (#{user_id}, #{address}, #{address_detail}, #{zipcode}, DATE_FORMAT(#{birth_date}, '%Y-%m-%d'), #{phone})
    	ON DUPLICATE KEY UPDATE
    	<trim suffixOverrides=",">
	        user_id=#{user_id},
	        address=#{address},
	        address_detail=#{address_detail},
	        zipcode=#{zipcode},
	        birth_date=DATE_FORMAT(#{birth_date}, '%Y-%m-%d'),
	       	phone=#{phone}
	    </trim>
    </insert>
    
    <select id="SelectUserInfo" parameterType="map" resultType="hashmap">
    	SELECT T.user_id, T.user_name, T.password, T.user_type, 
    		   DATE_FORMAT(T.reg_dt, '%Y-%m-%d') AS reg_dt, 
    		   DATE_FORMAT(T.join_dt, '%Y-%m-%d') AS join_dt, 
    		   DATE_FORMAT(T.del_dt, '%Y-%m-%d') AS del_dt, 
    		   T.del_yn, T.account_id, T.position, T.department, 
    		   T2.address, T2.address_detail, T2.zipcode, T2.phone, 
    		   DATE_FORMAT(T2.birth_date, '%Y-%m-%d') AS birth_date,
    		   T.user_name
			FROM tb_user T
			JOIN tb_userdetail T2
			ON T.user_id = T2.user_id
			WHERE T.user_id = #{user_id}
			AND T.del_yn = 'N'
    </select>
    
    <select id="UserRecordSheetList" parameterType="map" resultType="hashmap">
    	SELECT T.user_id, T.user_name, T2.year, T2.month, T2.record_date, T2.start_time, T2.end_time, ifnull(T2.leave_use,"") as leave_use, ifnull(T2.leave_type,"") as leave_type
			FROM tb_user T
			JOIN tb_user_record T2
			ON T.user_id = T2.user_id
			JOIN tb_user_attendance_management T3
			ON T.user_id = T3.user_id
			WHERE T.department = 1
			AND T.del_yn = 'N'
			ORDER BY T.user_id, record_date
    </select>
    
    <select id="UserMemberList" parameterType="map" resultType="hashmap">
    	SELECT T.user_id, 
    		   T.user_name,
    		   DATE_FORMAT(T.join_dt, '%Y-%m-%d') as join_dt,
    		   T.position, 
    		   T2.total_leave, 
    		   T2.leave_remain, 
    		   T2.leave_use
			FROM tb_user T
			JOIN tb_user_attendance_management T2
			ON T.user_id = T2.user_id
			WHERE T.del_yn = 'N'
			ORDER BY position
    </select>
    
    <select id="ContractEndAccountList" resultType="hashmap">
    	SELECT a.account_id, 
    		   a.account_name, 
    		   account_address, 
    		   DATE_FORMAT(ai.contract_start, '%Y-%m-%d') as contract_start, 
    		   DATE_FORMAT(ai.contract_end, '%Y-%m-%d') as contract_end,
    		   CASE WHEN a.account_type = 1 THEN '요양원'
    		   		WHEN a.account_type = 2 THEN '도소매'
    		   		WHEN a.account_type = 3 THEN '프랜차이즈'
    		   		WHEN a.account_type = 4 THEN '산업체'
    		   		ELSE '학교' END AS account_type,
    		   CASE WHEN ai.manager_name = '' || ai.manager_name is null  THEN ai.manager_name2
    		   		WHEN ai.manager_name2 = '' || ai.manager_name2 is null THEN ai.closing_name
    		   		ELSE '' END AS manager_name
		FROM tb_account_info ai
		JOIN tb_account a
		ON a.account_id = ai.account_id
		<![CDATA[ 
		WHERE ai.contract_end > NOW()
		AND ai.contract_end < DATE_ADD(NOW(), INTERVAL 3 MONTH)
		]]>
		AND a.del_yn = 'N'
    </select>
</mapper>